################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MQuery/.vs/MQuery
/MQuery/MQuery/bin/Debug/netcoreapp2.1
/MQuery/MQuery.ConsoleApp/bin/Debug/netcoreapp2.1
/MQuery/MQuery.ConsoleApp/obj/Debug/netcoreapp2.1
/MQuery/MQuery.ConsoleApp/obj
/MQuery/MQuery/obj/Release/netcoreapp2.1
/MQuery/packages
